.background{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
  opacity: 0.3;
}
@media (max-width:480px) {
  .background{
    width:auto;
    height:100vh;
    object-position: -65vw 0%;
  }
}